body {
    margin: 0; 
    padding: 0; 
}

.logo {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 60px;
    background: aliceblue;
    border: darkgray solid 2px;
    border-radius: 12px;
}
.logo-link {
    display: contents;
}
.logo-image-div {
    display: inline-flex;
    padding: 10px;
}
.logo-image-div.logo1 {
    border-right: darkgray solid 1px;
}
.logo-image {
    width: 100px;
}

.convert-button {
    background-color: yellow;
    z-index: 1;
}

.left-middle {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 150px;
    border: yellow;
}

.center-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 150px;
    height: 30px;
    border: yellow;
}

.container {
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
}

.label-1 {
    background-color: rgb(68, 84, 106);
    color: white;
}
.label-2 {
    background-color: rgb(68, 114, 196);
    color: white;
}

.top-labels {
    position: absolute;
    margin: auto;
    width: 25%;
    right: 0;
    left: 0;
    top: 10%;
    z-index: 1;
}
.label-date-range {
    padding: 5px 40px;
    font-size: 30px;
}

.label-total-number {
    padding: 5px 40px;
    font-size: 16px;
    margin-top: 20px;
}

#map { 
    position: relative; 
    top: 0;
    width: 100vw; 
    height: 100vh; 
}
#echart-punch-card {
    position: relative; 
    height: 50vh;
    width: 50vw;
}
#echart-bar {
    position: relative;
    width: 20vw;
    height: 30vh;
}
.selected-datetime {
    width: 100px;
    height: 30px;
    background-color: blueviolet;
    top: 20px;
    position: relative;
    color: white;
}